<hr class="comment">
{{#each commentsSorted as |comment|}}
  <div class="row">
    <div class="col-xs-2">
      <p>{{comment.username}}:</p>
    </div>
    <div class="col-xs-10">
      <p>{{comment.text}}</p>
    </div>
  </div>
  <hr class="comment">
{{/each}}
