html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('http://images4.alphacoders.com/121/121806.jpg') no-repeat top center fixed;
  background-size: cover;
  min-height:100vh;
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #3F83A6;
}
button {
  margin: 2px;
}
.btn-info {
  background-color: #3F83A6;
}
.btn-info:hover {
  background-color: #1F6386;
}
.btn-danger {
  background-color: #D43E23;
}
.btn-danger:hover {
  background-color: #B41E03;
}
.container {
  background-color: #ECECEA;
  padding: 3em 4em 2em 4em;
  border-radius: 8px;
  margin-bottom: 8em;
  width: 90%;
}
nav > .container-fluid {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: .5em 4em;
  background-color: #ECECEA;
}
.navbar-brand {
  color: #3F83A6;
  font-size: 2em;
}
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #3F83A6;
    color: #ECECEA;
}
.footer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}
hr {
  border-color: #7E8F7C;
  margin: 20px 0;
}
.comment {
  border-color: #ddd;
}
.shoutout {
  margin-top: 20px;
}
.title {
  margin-top: 0;
}
li {
  font-size: 1.15em;
}
