<div class="row">
  <img src="https://d3f0h4853vu4ph.cloudfront.net/assets/public/contributions/ember-38dd24447bbe877caaf89cc0880c1d0e.png" alt="" class="col-xs-2"/>
  <div class="col-xs-10">
    <h1>msgboard</h1>
    <p>
      This is a quick app to practice making websites using Ember JS. Feel free to play around.
    </p>
  </div>
</div>
